# Requiere Node/pnpm compatibles con package.json#engines
engine-strict=true

# Instala peers automáticamente (recomendado con React/Next)
auto-install-peers=true

# Lockfile estricto en CI
frozen-lockfile=false
